<div *ngIf="grupos.length">
  <h2>Detalles del Americanos</h2>
  <p>
    <strong>Nombre del Torneo:</strong> {{ nombreAmericano || 'Nombre no disponible' }}
  </p>
  <p><strong>Fecha de Inicio:</strong> {{ fechaInicioTorneo | date:'fullDate' }}</p>
  <div *ngFor="let grupo of grupos">
    <h3>{{ grupo.nombreGrupo }}</h3>
    <div *ngIf="grupo.parejas?.length">
      <h4>Parejas</h4>
      <ul>
        <li *ngFor="let pareja of grupo.parejas">
          {{ pareja.nombre_pareja }}
        </li>
      </ul>
    </div>
<div *ngIf="partidos.length">
  <h2>Partidoas</h2>
  <ul>
    <li *ngFor="let partido of partidos">
      <strong>Pareja 1:</strong> {{ obtenerNombrePareja(partido.pareja1_fk) }}
      vs
      <strong>Pareja 2:</strong> {{ obtenerNombrePareja(partido.pareja2_fk) }}
      -
      <strong>Hora:</strong> {{ partido.fecha | date:'shortTime' }}
    </li>
  </ul>
</div>

</div>
<!-- americano.component.html -->

