<section class="vh-100">
  <div class="background"></div>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-black" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-QmJlVZJiYTGLXOiU6oZz5gnfUt5s1orVXQ&s" alt="Logo de la aplicación" class="logo">
            <div class="mb-md-5 mt-md-4 pb-5">
              <div data-mdb-input-init class="form-outline form-white mb-4">
                <input type="email" id="typeEmailX" class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX">Usuario</label>
              </div>

              <div data-mdb-input-init class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                <label class="form-label" for="typePasswordX">Password</label>
              </div>
              <button routerLink="/americano" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-dark btn-lg px-5" type="submit">Iniciar Sesión</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

